{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block nav %}
<a class="nav-link" href="{% url 'add_category' %}">
    Добавить категорию
</a>
<a class="nav-link" href="{% url 'add_product' %}">
    Добавить товар
</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
   <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg border-0">
            <div class="card-header bg-warning text-dark text-center py-3">
                <h3 class="mb-0">Редактировать продукт</h3>
            </div>
            <div class="card-body p-4">
                <form action="" id="prod-form" method="POST">
                        {% bootstrap_form form layout="floating" %}
                        {% csrf_token %}
                </form>
                <button type="submit" form="prod-form" class="btn btn-warning">
                            Сохранить
                </button>
            </div>
            <div class="card-footer bg-white text-center py-3">
                <a href="{% url 'products_list_v2' %}" class="btn btn-outline-secondary">Назад</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}