{% extends "base.html" %}

{% block nav %}
<a class="nav-link" href="{% url 'add_category' %}">
    Добавить категорию
</a>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

        <div class="card shadow-lg border-0">
            <div class="card-header bg-warning text-dark text-center py-3">
                <h3 class="mb-0">Добавление товара</h3>
            </div>

            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Название товара</label>
                        <input type="text" name="title" class="form-control" placeholder="Введите название">
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-semibold">Категория</label>
                        <select name="category" class="form-select">
                            {% for category in categories %}
                                <option value="{{ category.id }}">
                                    {{ category.cat_title }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Цена</label>
                        <input type="text" name="price" class="form-control" placeholder="1000.00">
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Ссылка на изображение</label>
                        <input type="text" name="img" class="form-control" placeholder="https://product_img_url...">
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Описание</label>
                        <textarea name="desc" rows="5" class="form-control" placeholder="Введите описание товара"></textarea>
                    </div>
                    {% if varning %}
                        <div class="alert alert-danger">
                            {% for v in varning %}
                                <div>{{ v }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-warning btn-lg">Добавить товар</button>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-white text-center py-3">
                <a href="{% url 'products_list_v2' %}" class="btn btn-outline-secondary">Назад</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}